/*=============================
  ===== about3 css starts =====
===============================*/
#about3{
  .text-area{
    h1{
      padding-right: 136px;
    }
    p{
      color: #212529;
    }
    button{
      background: #ff0000;
      color: #fff;
      padding: 10px 25px;
      transition: all linear 0.4s;
      &:hover{
        background: #8d0d0d;
      }
    }
    h6{
      color: #212529;
      padding-bottom: 200px;
    }
  }

  .image-area{
    .image{
      img{
        width: 90%;
      }
    }
  }
}
/*===========================
  ===== about3 css ends =====
=============================*/