/*=============================
  ===== footer css starts =====
===============================*/
#footer{
  background: #000000;
  h1{
    padding-top: 35px;
    span{
      color: #ff0000;
    }
  }
  p{
    padding-bottom: 45px;
    font-size: 18px;
    span{
      color: #e55e5e;
    }
  }
}
/*===========================
  ===== footer css ends =====
=============================*/